$small: 640px;

.product-container{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.loading-spinner{
    align-self: center;
    padding: 200px;
}

.item-gallery{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .side-pictures{
        // display:none;
        display: flex;
        flex-direction: row;
        gap: 4px;

        .img-side-pictures{
            width: 68px;
            height: 68px;
            object-fit: cover;
        }
    }

    .main-picture{
        display: flex;
        gap:4px;
        align-items: center;
        
        .img-main-picture{
            width:100%;
            height: 480px;
            object-fit: cover;
        }
    }
}


.item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    gap: 15px; //30px;

    .item-collection{
        font-size: 16px;
        margin-top:50px;
    }

    .item-title{
        padding:0;
    }

    .item-hr{
        border: 0;
        height: 1px;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .item-quantity{
        display: inline-flex;
        align-items: center;
        align-self: flex-start;
        justify-content: space-between;
        border: 1px solid grey;
        width: 140px;
        height: 45px;
        margin-bottom: 15px;

        .item-quantity-minus, .item-quantity-plus{
            padding: 10px 20px;
            background: none;
            color: #e2725b;
            &:not(.item-quantity-plus):hover {
                transition: none;
            }
            &:not(.item-quantity-minus):hover {
                transition: none;
            }
        }
    }

    .button-add-item{
        margin-bottom: 15px;
        width: 100%;
        &:hover{
            border: 1px solid black;
        }
    }
}

@media (min-width: 768px)  {

    .product-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 150px 200px;
        gap: 15px;
        .item-gallery{
            flex-direction: row-reverse;
            gap: 20px;
            .side-pictures{
                display: flex;
                flex-direction: column;
                gap: 30px;
        
                .img-side-pictures{
                    width: 100px;
                    height: 100px;
                }
            }

            .main-picture{
                .img-main-picture{
                    width: 680px;
                    height: 680px;
                }
            }
        }

        .item-info{
            .item-collection{
                margin-top:0px;
            }
        }
    }
}