$small: 640px;
$middle: 641px;
$large: 660px;

.hamburger-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    width: 36px;
    color: white;  
}

.hamburger-btn {
    font-size: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 999;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;  
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  a {
    text-decoration: none;
    color: white;  
  }   
  border-bottom: 1px solid white;

  &:hover {
    background-color: white;
    color: black;
    border-bottom: 1px solid rgb(199, 193, 193);
    a, .hamburger-btn {
        color: black;
    }
  }

  &.active {
    background-color: white;
    color: black;
    border-bottom: 1px solid rgb(199, 193, 193);
    a, .hamburger-btn {
        color: black;
    }
  }

  @media screen and (max-width: $small) {
    .account {
        display: none;
    }

    .hamburger-btn, .right-menu {
        font-size: 20px;
    }

    .title {
        font-size: 30px;
    }
  }
}

.hamburger-menu {
    display: flex;
    font-size: 30px;
    margin-left: 25px;
}

.title {
    display: flex;
    font-size: 50px;
    margin-left: 300px;
    margin-right: 200px;
}

.right-menu {
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-right: 25px;
}

.overlay-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997; /* Below search container */
}

.search-container {
    background-color: white;
    flex-direction: column;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    z-index: 998;
    max-width: 100%;
    width: 100%;
    position: fixed;
    top: 112px;
}

.search-div {
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
}

.search-icon {
    color: black;
    font-size: 30px;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
}

.close-search {
    cursor: pointer;
    font-size: 30px;
}


/********** Media Queries ******************/
@media screen and (max-width: $small) {
    .search-icon, .close-search {
        font-size: 25px;
    }

    .search-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-input::placeholder {
        font-size: 20px;
    }

    .search-container {
        top:94px;
    }

    .title {
        margin-left: 42px;
        margin-right: 20px;
    }
}

@media screen and (min-width: $middle) {
    .title {
        margin-left: 134px;
        margin-right: 50px;
    }
}

@media screen and (min-width: $large) {
    .title {
        margin-left: 140px;
        margin-right: 50px;
    }
}