$small: 600px;
$small_device: 360px;
$medium: 1100px;

.pattern{
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #e2725b;
    height: 70px;

    .pattern-svg {
        display: inline-block;
        position: absolute;
        left: 0;
        stroke: none;
        fill: #e2725b;
        top: 0p;
        width: 100%;
        height: 28%;
    }
}

.ReactModalPortal{
    position: relative;
    z-index: 1;
    left: 50px;
}

.ReactModal__Content {
    position: relative;
    top: 40%;
    z-index: 1;
    width: 300px; /* Adjust the width */
    height: 200px; /* Adjust the height */
    margin: auto; /* Center the modal */
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Rounded corners */
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.my-account-container{
    position: relative;
    margin-top:100px;
    padding: 15px 25px;
    z-index: 1;

    .my-account-section{
        margin: 35px 0;
        display: flex;
        flex-direction: column;

        .header-account{
                margin-bottom: 35px;

            .logout-link{
                margin-bottom: 25px;
            }

            h1{
                text-align: left;
                padding: 0;
                margin-bottom: 10px;
            }

        }

        h1, h2{
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: .2em;
        }

        h2{
            font-size: 16px;
            padding-bottom:10px;
            margin-bottom: 25px;
            border-bottom: 1px solid grey;
            border-bottom-width: thin;
        }

        .bottom-account{
            display: flex;
            flex-direction: column;

            .my-orders, .my-address, .account-address{
                margin-bottom: 10px;
            }

            .my-address{
                display: flex;
                flex-direction: column;
                .address-info{
                    form{
                       /*  display: flex;
                        flex-direction: column; */
                        text-align: center;
                        input{
                            width: 90%;
                            height: 30px;
                            padding: 10px;
                        }
                    }
                }
            }

            .my-orders{
              //  background-color: aqua;
                padding: 20px;
                width: 50%;
                .my-orders-block{
                   // background-color: pink;
                    display: flex;
                    flex-direction: column;
                    .orders-container{
                      //  background-color: orange;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;

                       
                        .order-header{
                            display: flex;
                            justify-content: space-between;
                            cursor: pointer;
                            padding-bottom: 10px;
                            border-bottom: 1px solid;
                        }

                        &:hover {
                            color: rgb(156, 154, 154);
                        }

                        .orders-list{
                            display: none;
                            flex-direction: column;
                            align-items: center;
                            gap: 25px;
                            margin-top: 15px;

                            .details-1, .details-2{
                                display: flex;
                                justify-content: space-around;
                                width: 100%;
                               // background-color: violet;
                                div {
                                    text-align: center;
                                }
                            }

                             &.open{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 25px;
                              // background-color: rgb(193, 247, 113);
                            } 

                        }
                    }
                }
            }

            button{
                margin-top: 25px;
                width: 50%;
                &:hover{
                    border: 1px solid black;
                }
            }
        }
        .delete-account{
            display: flex;
            align-items: center;
            gap: 5px;

            .delete-icon{
                font-size: 24px;
            }

            p{
                color: rgb(238, 89, 89);
                // font-size: 14px;

                &:hover{
                    color:rgb(127, 37, 37);
                    font-weight: 500;
                    cursor: pointer;
                }
            }

            p[disabled] {
                cursor: not-allowed;
                color: grey;
            }
            
            p[disabled]:hover::after {
                content: attr(title);
                position: absolute;
                background: #333;
                color: #fff;
                padding: 5px;
                border-radius: 5px;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                white-space: nowrap;
            }
        }

    }
}

@media (min-width: $small_device) {
    .pattern{
        height: 65px;
    }
    
    .pattern .pattern-svg{
        height: 25%;
    }

    .my-account-container{
        .my-account-section{
            .bottom-account{
                .my-orders{
                    width: 90%;
                }
            }
        }
    }
}

@media (min-width: $small)  {

    .my-account-container .my-account-section .bottom-account button{
        width: 100%;
    }
    .my-account-container .my-account-section .bottom-account {
        flex-direction: row;
        justify-content: space-evenly;

    }

    .pattern .pattern-svg{
        width: 100%;
        height: 35%;
    }

    .my-account-container{
        .my-account-section{
            .bottom-account{
                .my-orders{
                    width: 60%;
                }
            }
        }
    }
}

@media (min-width: $medium) {
    .pattern{
        height: 79px;
    }

    .pattern .pattern-svg{
        width: 100%;
        height: 55%;
    }

    .my-account-container{
        .my-account-section{
            .bottom-account{
                .my-orders{
                    width: 60%;
                }
            }
        }
    }
}